$breakpoint-md: 1024px;

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 800px;
    max-height: calc(100dvh / 1);
  }

  nav {
    a {
      color: #000;
    }

    .link .icon {
      width: 32px;
      height: 32px;
    }
    .link .text {
      display: flex;
      font-size: 1.2rem;
    }
  }
}
