$breakpoint-md: 1024px; // desktop

@media only screen and (min-width: $breakpoint-md) {
  .content {
    width: 60dvw;
  }
  .form {
    max-width: 450px;
    max-height: 550px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (orientation: portrait) {
  section {
    .content {
      font-size: clamp(12px, 4vw, 25px);
    }
  }
}

// tablets breakpoint
@media (min-width: 768px) and (max-width: 1023px) {
  .form {
    max-width: 450px;
    max-height: 550px;
  }
}
