@import "./typo";
@import "./base";
@import "./icons";
@import "./parts/menu";
@import "./parts/cards";
@import "./responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: rgb(4, 14, 20);
  font-size: clamp(16px, 4.5vw, 19px);
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: $primaryColor;
}

.text-center {
  text-align: center;
}

.sectionname h2 {
  color: $primaryColor;
  font-weight: 900;
  font-size: 3rem;
}

#intro::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: opacity(0.4);
  z-index: -1;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
}

.emphasis {
  color: $primaryColor;
  filter: contrast(53%);
  font-style: oblique;
  font-weight: 400;
}

// contact form
.form {
  width: 80dvw;
  height: 70dvh;
  background-color: #ffffff;
  border-radius: 0.94rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111111;
  flex-direction: column;
  padding: 0.55rem;

  // error message
  .message {
    width: 90%;
    height: 32px;
    border: none;
    border-radius: 0.34rem;
    color: #fff;

    &[data-error="true"] {
      background-color: red;
    }
    &[data-error="false"] {
      background-color: rgb(75, 170, 132);
    }
  }

  button {
    width: 100%;
    font-size: 1.3rem;
    color: #f9f9f9;
    background-color: $primaryColor;
    outline: none;
    border: none;
    border-radius: 0.34rem;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
  }

  form input,
  select {
    height: 45px;
    box-sizing: border-box;
    padding: 1rem;
  }

  textarea {
    height: 130px;
    resize: none;
    text-align: left;
  }
  form input,
  textarea,
  select {
    width: 100%;
    display: block;
    text-align: left;
    outline: none;
    border: none;
    color: #000000;
    background-color: #f1f1f1;
    border-radius: 0.34rem;
  }

  label {
    float: left;
    color: $primaryColor;
    font-size: 1.2rem;
  }
}

// scroll indicator
#myProgress {
  width: 100%;
  background-color: #f3f3f300;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: $primaryColor;
}